$mainGreenColor : #00C854;
$mainWhiteColor : #FFFFFF;

$mobileWidth : 375px;
$pcBodyWidth : 1140px;

$SpoqaFont : 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';

@mixin noneDrag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin TwoLineOver {
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}

@mixin FourLineOver {
  display:-webkit-box;
  -webkit-line-clamp:4;
  -webkit-box-orient:vertical;
}