@import "./\ _variable.scss";

.MainPageOneAd {
  width: 100%;
  height: 255px;
  background: $mainWhiteColor 0% 0% no-repeat padding-box;
  border: 1px solid #E1E4E7;
  border-radius: 5px;
  opacity: 1;
  padding: 20px 30px 20px 30px;
  margin-bottom: 30px;
}

.MainPageOneAd-Top {
  width: 64px;
  height: 19px;
  text-align: left;
  font: normal normal normal 13px/25px SpoqaHanSans;
  letter-spacing: 0px;
  color: #ADB5BD;
  opacity: 1;
}

.MainPageOneAd-Middle {
  display: flex;
  flex-direction: row;
}


.MainPageOneAd-Middle-Img {
  width: 310px;
  height: 179px;
  border: 1px solid #E1E4E7;
  opacity: 1;
  margin-top: 17px;
  margin-right: 29.5px;
}

.MainPageOneAd-Middle-TextBox {
  display: flex;
  flex-direction: column;
  width: 463px;
}

.MainPageOneAd-Middle-TextBox-Title {
  width: 100%;
  height: 55px;
  text-align: left;
  font: normal normal bold 18px/28px SpoqaHanSans;
  letter-spacing: 0px;
  color: #282C30;
  opacity: 1;
  margin-top: 17px;
  margin-bottom: 11px;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MainPageOneAd-Middle-TextBox-Desc {
  width: 100%;
  height: 99px;
  text-align: left;
  font: normal normal normal 16px/25px SpoqaHanSans;
  letter-spacing: 0px;
  margin-bottom: 13.5px;
  color: #212529;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px){
  .MainPageOneAd {
    width: 100%;
    height: 381px;
    background: $mainWhiteColor 0% 0% no-repeat padding-box;
    border: 1px solid #E1E4E7;
    border-radius: 5px;
    opacity: 1;
    padding: 20px 15px 20px 15px;
    margin-bottom: 10px;
  }
  .MainPageOneAd-Middle {
    flex-direction: column;
  }
  .MainPageOneAd-Middle-Img {
    width: 100%;
    height: 179px;
    border: 1px solid #E1E4E7;
    opacity: 1;
    margin-top: 17px;
    margin-bottom: 16.5px;
    margin-right: 0
  }
  .MainPageOneAd-Middle-TextBox {
    width: 100%;
  }
  .MainPageOneAd-Middle-TextBox-Title {
    margin-top: 0;
  }
  .MainPageOneAd-Middle-TextBox-Desc {
    height: 49px;
  }
}