@import "./\ _variable.scss";

.MainPageOneContents {
  width: 100%;
  height: 179px;
  background: $mainWhiteColor 0% 0% no-repeat padding-box;
  border: 1px solid #E1E4E7;
  border-radius: 5px;
  opacity: 1;
  padding: 20px 30px 30px 30px;
  margin-bottom: 30px;
}

.MainPageOneContents-Top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MainPageOneContents-Cate {
  width: 95px;
  height: 19px;
  text-align: left;
  font: normal normal normal 13px/25px SpoqaHanSans;
  letter-spacing: 0px;
  color: #7E848A;
  opacity: 1;
  margin-bottom: 11px;
}

.MainPageOneContents-Id {
  width: auto;
  height: 19px;
  text-align: right;
  font: normal normal normal 13px/25px SpoqaHanSans;
  letter-spacing: 0px;
  color: #ADB5BD;
  opacity: 1;
}

.MainPageOneContents-UnderBar {
  width: 100%;
  height: 1px;
  background: #E1E4E7 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 15px;
}

.MainPageOneContents-Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 19px;
  margin-bottom: 17px;
}

.MainPageOneContents-Info-Id {
  width: auto;
  height: 19px;
  text-align: left;
  font: normal normal normal 13px/25px SpoqaHanSans;
  letter-spacing: 0px;
  color: $mainGreenColor;
  opacity: 1;
  margin-right: 10px;
}

.MainPageOneContents-Info-SideBar {
  width: 1px;
  height: 15px;
  background: #E1E4E7 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-right: 10px;
}

.MainPageOneContents-Info-Date {
  width: 148px;
  height: 19px;
  text-align: left;
  font: normal normal normal 13px/25px SpoqaHanSans;
  letter-spacing: 0px;
  color: #495057;
  opacity: 1;
}

.MainPageOneContents-Title {
  width: 100%;
  height: 27px;
  text-align: left;
  font: normal normal bold 18px/28px SpoqaHanSans;
  letter-spacing: 0px;
  color: #282C30;
  opacity: 1;
  margin-bottom: 6px;
  margin-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MainPageOneContents-Desc {
  width: 100%;
  height: 24px;
  text-align: left;
  font: normal normal normal 16px/25px SpoqaHanSans;
  letter-spacing: 0px;
  color: #495057;
  opacity: 1;
  margin-right: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px){
  .MainPageOneContents {
    margin-bottom: 10px;
  }

}