@import "./\ _variable.scss";

.ViewContent-Container {
  width: 1140px;
  height: auto;
  background: $mainWhiteColor 0% 0% no-repeat padding-box;
  border: 1px solid $mainGreenColor;
  border-radius: 5px;
  opacity: 1;
  margin-bottom: 31px;
  padding: 21px 31px 21px 30px;
}

.ViewContent-Title {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0px;
  color: #282C30;
  opacity: 1;
  margin-bottom: 6px;
  @include noneDrag;
}

.ViewContent-Desc {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #495057;
  opacity: 1;
  margin-bottom: 15px;
  @include noneDrag;
}

.ViewContent-Info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ViewContent-Email {
  font-size: 13px;
  letter-spacing: 0px;
  color: #ADB5BD;
  opacity: 1;
  margin-right: 10px;
}

.ViewContent-SideBar {
  width: 1px;
  height: 15px;
  background: #b9bec2 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-right: 10px;
}

.ViewContent-Date {
  font-size: 13px;
  letter-spacing: 0px;
  color: #ADB5BD;
  opacity: 1;
}

@media (max-width: 768px){
  .ViewContent-Container {
    width: 100%;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 20px 0 20px 0;
  }
}